.success {
  background: #3cff00 !important;
}

.error {
  background: #ff0000 !important;
}

.toastBody {
  font-family: "Atlas Grotesk Web", Arial, Helvetica, sans-serif;
  color: #10171d; /* #10171D */
  font-size: 0.875rem !important;
}
